@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mouse Memoirs', sans-serif;
}
body {
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}
a:link, a:visited, a:hover,a:active { 
    text-decoration: none;
}



/* HEADER BAR */

header {
    width: 100%;
    background-color: inherit;
    height: 71px;
    flex: none;
}
.sub-nav {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #eee;
    padding: 1rem 0;
    width: 100%;
}
.search-form {
    display: flex;
    flex-grow: 1;
}
.search-form input {
    padding: 0.25rem 0.25rem;
    flex: 1;
    border-bottom: 1px solid rgb(16, 97, 0);
}
.search-form button {
    background: rgb(16, 97, 0);
    color: white;
    padding: 0.5rem 0.5rem;
    border: none;
    font-size: 20px;

}
.company-name {
    font-size: 34px;
    color: rgb(16, 97, 0);
    min-width: 2rem;
    margin: 0 1rem;
    text-align: center;
}
.company-name a {
    color: inherit;
}
.company-name:hover {
    color: rgb(8, 47, 0);
    transform: scale(1.1);
}
.credit-offer {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background: red;
    padding: 0.25rem 0.25rem;
    margin: 1 1rem;
}



/* GAME HEAD */

h1 {
    text-align: center;
    margin: 2vmin;
    font-size: 8vmin;
}
h2 {
    text-align: center;
    margin: 2vmin;
    font-size: 3vmin;
}
#start-game {
    padding: 1vmin;
}



/* GAME APPEARANCE */

main {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    width: 48rem;
    height: 48rem;
    margin-bottom: 3vmin;
    background-color: #2078df;
}


.cell {
    border: 0.5px solid #65a2e9;
    width: 4rem;
    height: 4rem;
}
.cell.apple {
    background-color: red;
    border-radius: 50%;
}

.cell.snake {
    background-color: greenyellow;
}



/* GAME CONTROLS */

.grab {
    border-radius: 0.2rem;
    padding: 1vmin;
    min-width: 10vmin;
    min-height: 4vmin;
    font-size: 2vmin;    
}
#controls {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}
button#up {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 3vmin;
}
button#down {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 3vmin;
}
button#right {
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 3vmin;
}
button#left {
    grid-row: 2/3;
    grid-column: 1/2;
    font-size: 3vmin;
}